@import url(http://fonts.googleapis.com/css?family=Roboto);
.bloc-page {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.width25 {
  width: 25%; }

.width50 {
  width: 50%; }

.width100 {
  width: 100%; }

@media only screen and (max-width: 900px) {
  .flex-grid {
    display: block; }
    .flex-grid .width50 {
      width: 100%; } }
.is-hover:hover, button:hover, .header-content--login:hover, .card-newsletter--submit:hover, .is-hover:focus, button:focus, .header-content--login:focus, .card-newsletter--submit:focus {
  background-color: #292727; }

.background-color {
  background-color: #3dc33b; }

.background-menu {
  background-color: #877e7e; }

.logo {
  font-size: 96px; }

.subtitle {
  font-size: 42px; }

.icon {
  display: none; }

html {
  height: 100%; }

body {
  font-family: "Roboto", serif;
  font-size: 18px; }

h1, h2, h3, p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0; }

li {
  list-style: none; }

img {
  width: 100%; }

form {
  margin: 30px; }

input {
  border-width: 0px;
  width: 100%;
  padding: 20px 0px 20px 0px;
  margin-bottom: 25px; }

button, .header-content--login, .card-newsletter--submit {
  height: 60px;
  padding: 10px;
  color: #fff;
  background-color: #434040;
  border: none;
  cursor: pointer; }

@media only screen and (max-width: 900px) {
  .nav {
    display: none; }

  .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 40px;
    color: #cbd2d2;
    padding: 20px 0px;
    cursor: pointer; }
    .icon .fa-home:hover,
    .icon .fa-coins:hover,
    .icon .fa-images:hover,
    .icon .fa-blog:hover,
    .icon .fa-comment-dots:hover,
    .icon .fa-address-card:hover {
      color: #262c2c; }

  .logo {
    font-size: 64px; }

  .subtitle {
    font-size: 28px; } }
.is-hover:hover, button:hover, .header-content--login:hover, .card-newsletter--submit:hover, .is-hover:focus, button:focus, .header-content--login:focus, .card-newsletter--submit:focus {
  background-color: #292727; }

.is-hover:hover, button:hover, .header-content--login:hover, .card-newsletter--submit:hover, .is-hover:focus, button:focus, .header-content--login:focus, .card-newsletter--submit:focus {
  background-color: #292727; }

.background-color {
  background-color: #3dc33b; }

.background-menu {
  background-color: #877e7e; }

.logo {
  font-size: 96px; }

.subtitle {
  font-size: 42px; }

.icon {
  display: none; }

html {
  height: 100%; }

body {
  font-family: "Roboto", serif;
  font-size: 18px; }

h1, h2, h3, p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0; }

li {
  list-style: none; }

img {
  width: 100%; }

form {
  margin: 30px; }

input {
  border-width: 0px;
  width: 100%;
  padding: 20px 0px 20px 0px;
  margin-bottom: 25px; }

button, .header-content--login, .card-newsletter--submit {
  height: 60px;
  padding: 10px;
  color: #fff;
  background-color: #434040;
  border: none;
  cursor: pointer; }

@media only screen and (max-width: 900px) {
  .nav {
    display: none; }

  .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 40px;
    color: #cbd2d2;
    padding: 20px 0px;
    cursor: pointer; }
    .icon .fa-home:hover,
    .icon .fa-coins:hover,
    .icon .fa-images:hover,
    .icon .fa-blog:hover,
    .icon .fa-comment-dots:hover,
    .icon .fa-address-card:hover {
      color: #262c2c; }

  .logo {
    font-size: 64px; }

  .subtitle {
    font-size: 28px; } }
.header-content--logo {
  padding: 30px 0px; }
.header-content--login {
  font-size: 24px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 95px; }

@media only screen and (max-width: 900px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
.nav {
  font-size: 21px;
  font-weight: bold;
  text-align: center; }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    -webkit-padding-start: 0;
       -moz-padding-start: 0;
            padding-inline-start: 0;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0; }
  .nav--item {
    padding: 60px 15px 0px 15px;
    cursor: pointer; }
    .nav--item:hover {
      background-color: #434040;
      color: #fff;
      border-bottom: 62px solid #fff; }

/*                    Menu burger
=========================================================*/
.base-card, .card, .card-president, .card-coloque, .card-documentation, .card-BourseMeteo, .card-social, .card-newsletter {
  position: relative;
  min-height: 350px;
  margin: 20px 5px 0px 5px;
  background-color: #76cf74;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat; }
  .base-card::after, .card::after, .card-president::after, .card-coloque::after, .card-documentation::after, .card-BourseMeteo::after, .card-social::after, .card-newsletter::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid #76cf74;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    bottom: -9px;
    left: calc(50% - 9px); }

.base-card, .card, .card-president, .card-coloque, .card-documentation, .card-BourseMeteo, .card-social, .card-newsletter {
  position: relative;
  min-height: 350px;
  margin: 20px 5px 0px 5px;
  background-color: #76cf74;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat; }
  .base-card::after, .card::after, .card-president::after, .card-coloque::after, .card-documentation::after, .card-BourseMeteo::after, .card-social::after, .card-newsletter::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid #76cf74;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    bottom: -9px;
    left: calc(50% - 9px); }

.is-hover:hover, button:hover, .header-content--login:hover, .card-newsletter--submit:hover, .is-hover:focus, button:focus, .header-content--login:focus, .card-newsletter--submit:focus {
  background-color: #292727; }

.background-color {
  background-color: #3dc33b; }

.background-menu {
  background-color: #877e7e; }

.logo {
  font-size: 96px; }

.subtitle {
  font-size: 42px; }

.icon {
  display: none; }

html {
  height: 100%; }

body {
  font-family: "Roboto", serif;
  font-size: 18px; }

h1, h2, h3, p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0; }

li {
  list-style: none; }

img {
  width: 100%; }

form {
  margin: 30px; }

input {
  border-width: 0px;
  width: 100%;
  padding: 20px 0px 20px 0px;
  margin-bottom: 25px; }

button, .header-content--login, .card-newsletter--submit {
  height: 60px;
  padding: 10px;
  color: #fff;
  background-color: #434040;
  border: none;
  cursor: pointer; }

@media only screen and (max-width: 900px) {
  .nav {
    display: none; }

  .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 40px;
    color: #cbd2d2;
    padding: 20px 0px;
    cursor: pointer; }
    .icon .fa-home:hover,
    .icon .fa-coins:hover,
    .icon .fa-images:hover,
    .icon .fa-blog:hover,
    .icon .fa-comment-dots:hover,
    .icon .fa-address-card:hover {
      color: #262c2c; }

  .logo {
    font-size: 64px; }

  .subtitle {
    font-size: 28px; } }
.card--title {
  font-size: 32px;
  padding: 20px;
  font-weight: normal; }
.card--content {
  padding: 0px 20px 0px 20px; }
.card--bg {
  text-align: center;
  background-color: #877e7e; }
.card--bottom-manuel {
  margin: 50px 10px 50px 10px;
  width: 230px;
  height: 150px;
  vertical-align: middle;
  font-size: 32px;
  background-color: #fff;
  color: #000; }
  .card--bottom-manuel:hover, .card--bottom-manuel:focus {
    background-color: #434040;
    color: #fff; }

.card-president {
  min-height: 470px; }
  .card-president .text-right {
    text-align: end; }
  .card-president--contentName {
    font-weight: bold;
    padding: 50px 20px 0px 20px; }
  .card-president--content {
    font-size: 16px;
    font-weight: bold;
    padding: 0px 20px 20px 20px; }

.card-coloque header {
  padding-top: 20px; }
.card-coloque--title {
  text-align: center;
  font-size: 64px;
  padding: 20px;
  font-weight: normal; }
.card-coloque--content {
  text-align: center;
  font-size: 32px; }
.card-coloque--date {
  padding-top: 50px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 64px; }

.card-documentation {
  min-height: 450px;
  margin-bottom: 20px; }
  .card-documentation header {
    padding-top: 20px; }
  .card-documentation--title {
    font-size: 3.8vw;
    padding: 20px;
    letter-spacing: 3px;
    font-weight: bold; }

.card-BourseMeteo {
  min-height: 250px;
  text-align: center; }
  .card-BourseMeteo--square {
    margin: 0px 20px 0 20px;
    height: 154px;
    background-color: #fff; }
  @media (max-width: 900px) {
    .card-BourseMeteo .flex-grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.card-social--title {
  text-align: center;
  font-size: 64px;
  padding: 20px;
  font-weight: bold; }
.card-social .flex-grid {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
.card-social--image {
  width: 23.7%;
  padding-top: 20px; }
.card-social--bg {
  margin-top: 33px;
  background-color: #949191; }
.card-social--bottom {
  padding-bottom: 10px; }

.card-newsletter {
  min-height: 450px;
  background-color: #949191; }
  .card-newsletter--title {
    font-size: 32px;
    padding: 20px 20px 5px 20px;
    font-weight: bold; }
  .card-newsletter--submit {
    font-size: 32px;
    margin-bottom: 25px;
    width: 100%; }

@media only screen and (max-width: 900px) {
  .card-social--image {
    width: 100%; }

  .card-documentation--title {
    font-size: 34px; }

  .card-newsletter {
    min-height: 250px; } }
.banner {
  position: relative;
  margin: 20px 5px 0px 5px; }
  .banner--content {
    position: absolute;
    left: 1.6%;
    top: 65%; }
  .banner--title {
    font-size: 3.8vw;
    letter-spacing: 3px;
    font-weight: bold; }
  .banner--subtitle {
    font-size: 3vw;
    letter-spacing: 3px;
    font-weight: bold; }

.banner-social {
  position: relative;
  margin: 20px 0px 0px 0px; }
  .banner-social--content {
    position: absolute;
    left: 1.6%;
    top: 79%; }
  .banner-social--title {
    font-size: 1.9vw;
    letter-spacing: 3px;
    font-weight: normal; }

.footer-content--title {
  padding: 118px 0px 10px 0px;
  font-size: 52px;
  letter-spacing: 3px;
  font-weight: bold; }
.footer-content--content {
  padding-bottom: 50px;
  font-size: 22px;
  letter-spacing: 1px; }

/*# sourceMappingURL=style.css.map */