@mixin triangle($color: $green-card, $size: 10px) {
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: $size solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        bottom: $size * -1; // Permet d'avoir la valeur négatif (-10px;) 
        left: calc(50% - #{$size}); //-10px;
    }
}