@import "state";

.background-color {
    background-color: $background;
}

.background-menu {
    background-color: $gray-brown;
}

.logo {
    font-size: $logo;
}

.subtitle {
    font-size: $logo-subtitle;
}

.icon {
    display: none;
}

html {
    height: 100%;
}

body {
	font-family: $roboto;
	font-size: $body-text1;
}

h1, h2, h3, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

form {
    margin: 30px;
}

input { 
    border-width: 0px;
    width: 100%;
    padding: 20px 0px 20px 0px;
    margin-bottom: 25px;         
}

button {
    height: 60px;
    padding: 10px;
    color: $white;
	background-color: $normal;
    border: none;
    cursor: pointer;
    @extend .is-hover;
}

@media #{$medium-down} {   
    .nav {display: none;}
    .icon {
        display: flex;
        justify-content: space-around;
        font-size: 40px;
        color: $icon;
        padding: 20px 0px;
        cursor: pointer;
        .fa-home:hover,
        .fa-coins:hover,
        .fa-images:hover,
        .fa-blog:hover,
        .fa-comment-dots:hover,
        .fa-address-card:hover {
            color: $icon-hover;
        }
    }
    
    .logo {font-size: 64px;}    
    .subtitle {font-size: 28px;}
}