// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto);
$roboto: 'Roboto', serif;   

// Font sizes
$h1: 64px; // 3.8vw;
$h2: 52px; // 3vw;
$h3: 64px; // 3.8vw;
$h3-small: 32px; //1.8vw
$logo: 96px; //5.7vw;
$logo-subtitle: 42px; //2.5vw;
$body-text1: 18px; 
$body-text2: 22px;
$menu: 21px;
$buttom01: 24px;
$buttom02: 32px;

// Colors 
$background: #3dc33b;
$white: #fff;
$blue: #9891e3;
$green-card: #76cf74;
$gray-brown: #877e7e;
$gray: #949191;
$black: #000;
$icon: #cbd2d2;

// Colors state
$normal: #434040;
$hover: darken($normal, 10%);
$icon-hover: darken($icon, 65%);
$active: #a4a0a0;

// height card
$card-height: 350px;

// responsive
$medium: 900px;
$medium-down: "only screen and (max-width: #{$medium})";