.banner {
    position: relative;
    margin: 20px 5px 0px 5px;
    
    &--content {
        position: absolute;
        left: 1.6%;
        top: 65%;
    }

    &--title {
        font-size: 3.8vw;
        letter-spacing: 3px;
        font-weight: bold;
    }

    &--subtitle {
        font-size: 3vw;
        letter-spacing: 3px;
        font-weight: bold;
    }
}

.banner-social {
    position: relative;
    margin: 20px 0px 0px 0px;
    
    &--content {
        position: absolute;
        left: 1.6%;
        top: 79%;
    }

    &--title {
        font-size: 1.9vw;
        letter-spacing: 3px;
        font-weight: normal;
    }
}