.base-card {
    position: relative;
    min-height: $card-height;
    margin: 20px 5px 0px 5px; 
    background-color: $green-card;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    @include triangle($size: 9px)
}