@import "base-card";
@import "base";

.card {
    @extend .base-card;

    &--title {
        font-size: $h3-small;
        padding: 20px;
        font-weight: normal;
    }

    &--content {
        padding: 0px 20px 0px 20px;
    }

    &--bg {
        text-align: center;
        background-color: $gray-brown;
    }

    &--bottom-manuel {
        margin: 50px 10px 50px 10px;
        width: 230px;
        height: 150px;
        vertical-align: middle;
        font-size: $buttom02;
        background-color: $white;
        color: $black;
        &:hover,
        &:focus {
            background-color: $normal;
            color: $white;
        }
    }
}

.card-president {
    @extend .base-card;
    min-height: $card-height + 120px;

    .text-right {
        text-align: end;
    }

    &--contentName {
        font-weight: bold;
        padding: 50px 20px 0px 20px;
    }

    &--content {
        font-size: 16px;
        font-weight: bold;
        padding: 0px 20px 20px 20px;
    }
}

.card-coloque {
    @extend .base-card;
    header {padding-top: 20px;}

    &--title {
        text-align: center;
        font-size: $h3;
        padding: 20px;
        font-weight: normal;
    }

    &--content {
        text-align: center;
        font-size: $h3-small;
    }

    &--date {
        padding-top: 50px;
        text-align: center;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: $h1;
    }
}

.card-documentation {
    @extend .base-card;
    min-height: $card-height + 100px;
    header {padding-top: 20px;}
    margin-bottom: 20px;

    &--title {
        font-size: 3.8vw;
        padding: 20px;
        letter-spacing: 3px;
        font-weight: bold;
    }
}

.card-BourseMeteo {
    @extend .base-card;
    min-height: $card-height - 100px;
    text-align: center;

    &--square {
        margin: 0px 20px 0 20px;
        height: 154px;
        background-color: $white;
    }

    @media (max-width: 900px) {
        .flex-grid {
            display: flex;               
        }
    }
}

.card-social {
    @extend .base-card;

    &--title {
        text-align: center;
        font-size: $h3;
        padding: 20px;
        font-weight: bold;
    }

    .flex-grid {        
        flex-wrap: wrap;        
    }

    &--image {
        width: 23.7%;
        padding-top: 20px;
    }
    
    &--bg {
        margin-top: 33px;
        background-color: $gray;
    }

    &--bottom {
        padding-bottom: 10px;
    }
}

.card-newsletter {
    @extend .base-card;
    min-height: $card-height + 100px;
    background-color: $gray;

    &--title {
        font-size: $h3-small;
        padding: 20px 20px 5px 20px;
        font-weight: bold;
    }

    &--submit {
        @extend button;
        font-size: $buttom02;              
        margin-bottom: 25px;
        width: 100%; 
    } 
}

@media #{$medium-down} {
    .card-social {
        &--image {
            width: 100%;
        }                    
    }

    .card-documentation {   
        &--title {
            font-size: 34px;           
        }
    }

    .card-newsletter {
        min-height: $card-height - 100px; 
    }
}