.footer-content {

    &--title {
        padding: 118px 0px 10px 0px;
        font-size: $h2;
        letter-spacing: 3px;
        font-weight: bold;
    }

    &--content {
        padding-bottom: 50px;
        font-size: $body-text2;
        letter-spacing: 1px;
    }
}