@import "base";

.header-content {
    
    &--logo {
        padding: 30px 0px;       
    }
    
    &--login {
        @extend button;
        font-size: $buttom01;
        align-self: center;
        width: 95px; 
    }
}

@media #{$medium-down} {
    .header-content {
        display: flex;                   
    }
}