.nav{
    font-size: $menu;
    font-weight: bold;
    text-align: center;

    ul {
        display: flex;
        height: 150px;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    &--item {
        padding: 60px 15px 0px 15px;
        cursor: pointer;
        &:hover {
            background-color: $normal;
            color: $white;
            border-bottom: 62px solid $white;
        }
    }        
}